<a href="https://colab.research.google.com/github/manvi0308/Project-Based-Learning/blob/main/Python_Pandas_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame([

  [1,2,3,4,5],
  [6,7,8,9,10],
  [11,12,13,14,15]
],index=[0,1,2],columns=['cl1','cl2','cl3','cl4','cl5'])

In [ ]:
print(df)

   cl1  cl2  cl3  cl4  cl5
0    1    2    3    4    5
1    6    7    8    9   10
2   11   12   13   14   15

In [ ]:
print(df.head(1))

   cl1  cl2  cl3  cl4  cl5
0    1    2    3    4    5

In [ ]:
print(df.dtypes)

cl1    int64
cl2    int64
cl3    int64
cl4    int64
cl5    int64
dtype: object

In [ ]:
print(df.index)

Int64Index([0, 1, 2], dtype='int64')

In [ ]:
print(df.columns)

Index(['cl1', 'cl2', 'cl3', 'cl4', 'cl5'], dtype='object')

In [ ]:
print(df.values)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

In [ ]:
print(df.describe)

<bound method NDFrame.describe of    cl1  cl2  cl3  cl4  cl5
0    1    2    3    4    5
1    6    7    8    9   10
2   11   12   13   14   15>

In [ ]:
print(df.sort_values('cl1',ascending=True))

   cl1  cl2  cl3  cl4  cl5
0    1    2    3    4    5
1    6    7    8    9   10
2   11   12   13   14   15

In [ ]:
print(df[df.cl1 > 1])

   cl1  cl2  cl3  cl4  cl5
1    6    7    8    9   10
2   11   12   13   14   15